.ajustes-container {
  padding: 40px;
  color: white;
}

.titulo {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 30px;
}

.bloque {
  background: rgba(0,0,0,0.55);
  padding: 25px;
  border-radius: 14px;
  margin-bottom: 25px;
  border: 1px solid rgba(255,255,255,0.12);
}

.bloque h2 {
  color: #ffdd55;
  margin-bottom: 10px;
  font-size: 24px;
}
