* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #fff;
  background: #000;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-weight: bold;
  text-shadow: 0px 0px 5px #000;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
}
