@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'EB Garamond', serif !important;
}

body {
  background: transparent;
  overflow-x: hidden;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none !important;
  border: none !important;
  outline: none !important;
}
