.multimedia-container {
  padding: 40px;
  color: white;
}

.titulo {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 20px;
}

.sub {
  font-size: 28px;
  margin: 30px 0 15px 0;
  color: #ffdd55;
}

.multimedia-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}

.card {
  background: rgba(0,0,0,0.55);
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  border: 1px solid rgba(255,255,255,0.15);
  transition: 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card p {
  font-size: 18px;
  color: #ffdd55;
}
